.swapBox {
    @apply bg-draw-menu-light flex-grow;
    background-size: 900%;
    max-width: 540px;
    z-index: 2;
}

:global(.dark) .swapBox {
    @apply bg-draw-menu-dark;
}

.swapLabel {
    @apply text-3xl font-normal tracking-normal;
    font-family: var(--font-sans);
    line-height: 40px;
}

.swapPanel {
    @apply relative rounded bg-white;
    font-family: var(--font-sans);
    height: 850px;
    max-width: 440px;
    font-size: 14px;
    border: 1px solid #F4F5F6;
    box-shadow: 0 61px 61px -47px #1F2F46;
    border-radius: 10px;
}

:global(.dark) .swapPanel {
    @apply bg-dark-600;
    border: 1px solid #353945;
    box-shadow: 0 61px 61px -47px #1F2F46;
    border-radius: 10px;
}

.ratePanel {
    @apply border-b-2 border-solid border-white-150 mb-4;
    height: 60px;
}

:global(.dark) .ratePanel {
    @apply border-dark-900;
}

.currencyBox {
    border: 1px solid #E6E8EC;
    border-radius: 12px;
    height: 56px;
    @apply flex relative items-center px-3;
}

:global(.dark) .currencyBox {
    border: 1px solid #777E90;
}

.balanceBox {
    @apply bg-white-150;
    border-radius: 4px;
    height: 88px;
}

:global(.dark) .balanceBox {
    @apply bg-dark-870;
}

.balanceDropdown {
    height: 50px;
    @apply flex justify-center;
}

.line {
    @apply bg-white-200 mt-2;
    height: 1px;
}

:global(.dark) .line {
    @apply bg-white-900 mt-2;
}

.priceImpact {
    @apply flex justify-between tracking-normal font-normal bg-white p-1 px-3;
    box-shadow: inset 0 1px 8px 0 #E6E8EC;
    border-radius: 4px;
}

:global(.dark) .priceImpact {
    @apply bg-dark-860;
    box-shadow: inset 0 1px 8px 0 rgba(0,0,0,0.50);
}

.priceImpact div p {
    @apply text-orange;
}

.ConfirmSwapButton {
    background-image: linear-gradient(238deg, #004BFF 0%, #3772FF 42%, #0004F7 100%);
    border-radius: 28px;
    height: 48px;
    max-width: 380px;
    @apply text-white mt-3;
}

.SwapSettingsButton {
    @apply flex items-center justify-center bg-white-200;
    border-radius: 5px;
    height: 37px;
    width: 37px;
    cursor: pointer;
}

:global(.dark) .SwapSettingsButton {
    background-image: linear-gradient(238deg, #004BFF 0%, #3772FF 42%, #0004F7 100%);
}

.SwapTransactionLogPanel {
    border-radius: 4px;
    @apply flex flex-col bg-white;
}

:global(.dark) .SwapTransactionLogPanel {
    @apply bg-dark-852;
}

.swapSettings {
    @apply absolute flex w-full bg-white  -right-full top-7 -mr-12 p-8;
    box-shadow: 0 64px 64px 0 rgba(0,0,0,0.12);
    border-radius: 9px;
    height: 703px;
}

:global(.dark) .swapSettings {
    @apply bg-dark-600;
}

.gasCostOption {
    @apply flex items-center bg-white-150 justify-around text-dark-1000;
    opacity: 0.9;
    border: 1px solid #353945;
    border-radius: 12px;
    height: 56px;
}

:global(.dark) .gasCostOption {
    @apply bg-dark-500 text-white;
}

.slippageOptionInput {
    @apply flex items-center bg-white w-full pl-3;
    opacity: 0.9;
    border: 1px solid #777E90;
    border-radius: 12px;
}

:global(.dark) .slippageOptionInput {
    @apply bg-dark-600;
}

.swapSettingsTransactionDeadline {
    @apply flex flex-row items-center bg-white px-3 mt-3;
    opacity: 0.9;
    border: 1px solid #777E90;
    border-radius: 12px;
    height: 56px;
}

:global(.dark) .swapSettingsTransactionDeadline {
    @apply bg-dark-600;
}